.header{
     width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 20px;
}
.header #headerContent{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header #headerContent .logo h2{
    color: white;
    font-weight: bold;
    font-size: 2em;
    
}
.header #headerContent .register a{font-size: .9em;}
.header #headerContent .register a:first-of-type{
    margin-right: 30px;
    text-decoration: underline;
    color: #444444;

}
.header #headerContent .register a:last-of-type{
    background-color: #f5f8fe;
    border-radius: 50px;
    padding: 10px 20px;
    color: #444444;
}