.services{margin-top: 90px;}
.services #servicesContent{width: 65%;}
.services #servicesContent,.services #servicesContent .textSection button a{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.services .imageSection{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(210px, auto);
    gap: 0;
}
.services .imageSection .box{ position: relative;}
.services .imageSection .box:first-of-type{
    grid-column: 1/2 ;
    grid-row: 1/ 2;
    background-image: url('../components/services/images/bg-00.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px;
}
.services .imageSection .box:last-of-type{
    grid-column: 2;
    grid-row: 2 ;
    background-image: url('../components/services/images/bg-01.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px;
}
.services .imageSection .boxContent{
    width: 140px;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin: auto;
    position:absolute;
    left: 30%;
    bottom: -15%;
}
.services .imageSection .boxContent:last-of-type{ margin-left: -20px;}
.services .imageSection .boxContent .image  { width: 100%; margin-top: -90px;}
.services .imageSection .boxContent p{
    text-align: center;
    font-size: .6em;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    padding:  15px 10px;
    border-bottom: 1px solid var(--light);
}
.services .imageSection .boxContent .innerBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.services .imageSection .boxContent .innerBox p{
    border: none;
    color: #f4cb7a;
}
@media (max-width:1176px){
    .services .imageSection{width: 70%;}
    .services #servicesContent{width: 90%;}
}
@media (max-width:776px){
    .services #servicesContent{
        width: 90%;
        flex-wrap: wrap;
    }
    .services #servicesContent .textSection{
        width: 100%;
        text-align: center;
    }
    .services .imageSection{
        width: 100%;
        margin-top: 60px;
    }
.services .imageSection .box:first-of-type{background-size: 450px;}
.services .imageSection .box:last-of-type{background-size: 450px;}
}